AIRFLOW_UID=50000
FERNET_KEY= сгенерируйте ключ командой docker run --rm apache/airflow:2.10.0 python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
SUPERSET_SECRET_KEY= придумайте любую сложную строку, например my_very_strong_secret_key_2026.

SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=admin